# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_PASSWORD=octopussy@123

# n8n
N8N_HOST=seu.dominio.com
WEBHOOK_URL=http://octobot-n8n
N8N_RUNNERS_AUTH_TOKEN=octopussy@123

# Evolution API 
EVOLUTION_API_URL=http://evolution-api:8080
EVOLUTION_INSTANCE_NAME=Octobot
AUTHENTICATION_API_KEY=octopussy@123
CONFIG_SESSION_PHONE_VERSION=<pegue a versão estável mais recente aqui https://wppconnect.io/pt-BR/whatsapp-versions/>

# Database (Evolution API) 
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI='postgresql://postgres:postgres@postgres:5432/evolution?schema=public'
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true

# Cache (Redis) 
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://:octopussy@123@redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false
CACHE_LOCAL_ENABLED=false

# AWS
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_DEFAULT_REGION=<AWS_DEFAULT_REGION>
S3_BUCKET=<S3_BUCKET>
S3_PREFIX=<S3_PREFIX>